{% extends "blog/header.html" %}


{% block content %}

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <h4>To continue, login to BeeLine.</h4>

  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

  <div class="form-group">
  <input type="text" class="form-control" id="usr" placeholder="Enter username">
</div>
<div class="form-group">
  <input type="password" class="form-control" id="pwd" placeholder="Enter password">
</div>



<tr>
  <td> {{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>


<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table> 

 
<input type="submit" value="Login" class="btn btn-success btn-block" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<br><p><a style="color: green" href="{% url 'password_reset' %}">Forgot your password?</a></p>
<hr>
  <h4>Don't have a BeeLine account yet?</h4>
  <button type="button" class="btn btn-outline-primary">Sign up</button>
</div>


{% endblock %}
