{% extends "blog/header.html" %}

{% load crispy_forms_tags %}

{% block content %}

<br><br><br>
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4 text-center">
<h1><strong>Password Reset</strong></h1>
<p>Enter your email address to reset your password</p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-primary btn-md" value="Reset password">
  </form>
 <p>If you still need help, <span><strong>contact us</strong></span></p>
 </div>
 <div class="col-sm-4"></div>
</div>

{% endblock %}