body {
	margin: 10px;
	color: #000;
}

button a {
	color: white;
}

button a:hover {
	color: white;
	text-decoration: none;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.page-header li a {
	list-style: none;
	color: #000;
 }

 .page-header ul {
 	list-style: none;
 }

 .jumbotron {
 	background-image: url("https://image.freepik.com/free-vector/abstract-design-background_1048-6726.jpg");
 	background-position: cover;
 	height: 400px;
 }


