{% load static %}
<html>
    <head>
        <title>Simon's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
  <body>
    <div class="page-header">
        <h1><a href="/">BeeLine</a></h1>

    <ul>
   {% if user.is_authenticated %}
     <li><strong>Welcome, {{ user.get_username }}</strong></li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
    </ul>

    </div>
    <div class="content container">
        {% if user.is_authenticated %}
    <button type="button" class="btn btn-success"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Start new project</a></button>
{% endif %}
    
            {% block content %}
            {% endblock %}
         
        </div>
    </div>
</body>
</html>