{% extends 'blog/header.html' %}

{% block content %}



<h3 class="text-center">Track one project for free, or go premium for unlimited access</h3><br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tracked Free</h5>
        <h5 class="card-title"><strong>£0.00 per month</strong></h5>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <ul>
          <li>&#10003; 1</li>
          <li>&#10003; 2</li>
        </ul>
        <hr>
        <a href="#" class="btn btn-success btn-block">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tracked Premium</h5>
        <h5 class="card-title"><strong>£4.99 per month</strong></h5>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <ul>
          <li>&#10003; 1</li>
          <li>&#10003; 2</li>
        </ul>
        <hr>
        <a href="#" class="btn btn-outline-success btn-block">Go somewhere</a>
      </div>
    </div>
  </div>
</div>





{% endblock %}